<div>
    <style>
        .gf-form-inline {
            margin-left: 15px;
        }

        .filter {
            float: left;
            margin-bottom: 10px;
            margin-left: 15px;
        }    
    </style>
    <div class="job-filters">
        <div class="gf-form-inline filter">
            <div class="gf-form">
                <label class="gf-form-label width-8"> State </label>
            </div>
            <div class="gf-form-select-wrapper">
                <select
                    class="gf-form-input width-8"
                    ng-options="f for f in ['RUNNING', 'PENDING', 'COMPLETED']"
                    ng-model="ctrl.job_filters.state"
                    ng-change="ctrl.filterJobs()">
                </select>
            </div>
        </div>
        <div class="gf-form-inline filter">
            <div class="gf-form">
                <label class="gf-form-label width-8"> Node </label>
            </div>
            <div class="gf-form">
                <input
                    type="text"
                    class="gf-form-input width-8",
                    bs-typeahead="ctrl.suggestNodesByHostname",
                    ng-model="ctrl.job_filters.hostname",
                    ng-keyup="ctrl.filterJobs()">
                </input>
            </div>
        </div>
        <div class="gf-form-inline filter">
            <div class="gf-form">
                <label class="gf-form-label width-8"> Owner </label>
            </div>
            <div class="gf-form">
                <input
                    type="text"
                    class="gf-form-input width-8",
                    bs-typeahead="ctrl.suggestOwners",
                    ng-model="ctrl.job_filters.owner",
                    ng-keyup="ctrl.filterJobs()">
                </input>
            </div>
        </div>
        <div class="gf-form-inline filter">
            <div class="gf-form">
                <label class="gf-form-label width-8"> Sort By </label>
            </div>
            <div class="gf-form-select-wrapper">
                <select
                    class="gf-form-input width-8"
                    ng-init="ctrl.job_filters.sort_by = 'START TIME'"
                    ng-options="f for f in ['START TIME', 'END TIME']"
                    ng-model="ctrl.job_filters.sort_by"
                    ng-change="ctrl.filterJobs()">
                </select>
            </div>
        </div>
        <div class="gf-form-inline filter">
            <div class="gf-form">
                <label class="gf-form-label width-8"> Sort Operation </label>
            </div>
            <div class="gf-form-select-wrapper">
                <select
                    class="gf-form-input width-8"
                    ng-init="ctrl.job_filters.sort_operation = 'ASCENDING'"
                    ng-options="f for f in ['ASCENDING', 'DESCENDING']"
                    ng-model="ctrl.job_filters.sort_operation"
                    ng-change="ctrl.filterJobs()">
                </select>
            </div>
        </div>
        <div class="gf-form-inline filter" style="clear: left">
            <div class="gf-form-select-wrapper">
                <select
                    class="gf-form-input"
                    ng-options="f for f in ['STARTED AFTER', 'STARTED BEFORE']"
                    ng-model="ctrl.job_filters.start_time.filter"
                    ng-change="ctrl.filterJobs()">
                </select>
            </div>
            <div class="gf-form">
                <input
                    type="datetime-local",
                    placeholder="yyyy-MM-ddTHH:mm:ss",
                    class="gf-form-input",
                    ng-model="ctrl.job_filters.start_time.time"
                    ng-change="ctrl.filterJobs()">
                </input>
            </div>
        </div>
        <div class="gf-form-inline filter">
            <div class="gf-form-select-wrapper">
                <select
                    class="gf-form-input"
                    ng-options="f for f in ['ENDED AFTER', 'ENDED BEFORE']"
                    ng-model="ctrl.job_filters.end_time.filter"
                    ng-change="ctrl.filterJobs()">
                </select>
            </div>
            <div class="gf-form">
                <input
                    type="datetime-local",
                    placeholder="yyyy-MM-ddTHH:mm:ss",
                    class="gf-form-input",
                    ng-model="ctrl.job_filters.end_time.time"
                    ng-change="ctrl.filterJobs()">
                </input>
            </div>
        </div>
    </div>
    <table class="grafana-options-table">
        <tr>
            <th> Name </th>
            <th> Resources </th>
            <th> Elapsed Time </th>
            <th> State </th>
        </tr>
        <tr ng-repeat="job_and_metrics in ctrl.filtered_jobs_and_metrics"> 
            <td> {{ job_and_metrics.job_data.name }} </td>
            <td> 
                <div ng-repeat="resource in job_and_metrics.job_data.resources" style="padding: 5px">
                    <span ng-if="ctrl.isArray(resource.value)"> 
                        {{ resource.name }}: [
                        <div ng-click="ctrl.redirecttoJobNodeStatistics(hostname, job_and_metrics)" ng-repeat="hostname in resource.value" style="margin-left: 30px";>
                            {{ hostname }}
                        </div>
                        ]
                    </span>
                    <span ng-if="!ctrl.isArray(resource.value)"> 
                        {{ resource.name }}: {{ resource.value }}
                    </span>
                </div>
            </td>
            <td> {{ job_and_metrics.job_data.runtime }} </td>
            <td> {{ job_and_metrics.job_data.state }} </td>
        </tr>
    </table>
</div>